
VertexFirebaseSwiftUI/VertexFirebaseSwiftUI.xcodeproj/project.xcworkspace/contents.xcworkspacedata
VertexFirebaseSwiftUI/VertexFirebaseSwiftUI.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
VertexFirebaseSwiftUI/VertexFirebaseSwiftUI.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/UserInterfaceState.xcuserstate
VertexFirebaseSwiftUI/VertexFirebaseSwiftUI.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
VertexFirebaseSwiftUI/VertexFirebaseSwiftUI/GoogleService-Info.plist
VertexFirebaseSwiftUI/VertexFirebaseSwiftUI.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
